@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>201795074 전혁</h1>
    <h1>2022년 04월 12일</h1>
    <h1>클라우드 과제용 프로젝트</h1>
    <img src="ithinkwedidaprettygoodjobsofar.jpg" />
</div>
