@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome test github!!!!</h1>
    <h2 class="display-5">External git deployment!!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>201795074 전혁</h1>
    <h1>2022년 04월 12일</h1>
    <h1>클라우드 과제용 프로젝트</h1>
</div>
